.THIS .slds-modal__container {
    width: 90% !important;
    max-width: 90% !important;
}
.THIS .slds-modal__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 13px;
    right: 15px;
    background: #fff;
    border-radius: 50%;
}
.THIS .slds-button_icon-inverse {
    color: rgb(0, 0, 0);
}
.THIS  .slds-text-heading_large, .THIS .slds-text-heading--large {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #fff;
}
.THIS .slds-modal__header {
    background-color: #967000;
    border-bottom: none;
}
.THIS .slds-modal__footer {
    border-top: 1px solid #d4d4d4;
}
.THIS .slds-p-around_large, .THIS .slds-p-around--large {
    padding: 0 ;
}
.THIS .slds-coordinates__header {
    padding: 1rem;
    border-bottom: 1px solid #d4d4d4;
}
.THIS .slds-coordinates__title {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.THIS .slds-media__body, .THIS .slds-media__body>:last-child {
    margin-bottom: 0;
    font-size: 15px;
}
.THIS .slds-text-link:hover, .THIS .slds-text-link:focus {
    text-decoration: none!important;
    color: #135f90;
}
.THIS .slds-icon-standard-location {
    background-color: #4bc076;
    border-radius: 50%;
    margin-top: 5px;
}
@media only screen and (max-width: 600px){
    .THIS .slds-grid{
        display:block;
    }
}